.dasar{
    width: 80%;
    height: 610px;
    background-color: rgba(255, 255, 255, 0.884);
    margin: auto;
    margin-top: 40px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header{
    width: 100%;
    height: 10%;
    padding: 5px;
    display: flex;
    text-align: center;
    justify-content: space-between;

}
.isi{
    
    padding: 5px;
    width: 85%;
    height: 80%;   
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 5px;
    align-items: center;
    box-shadow: 0px 0px 2px  rgba(131, 122, 122, 0.849);
    
}

.mobil table{
    width: 100%;
    height: 100%;
    text-align: center;
}
.mobil{
    width: 40%;
    height: 49%;
    color: black;
    text-align: center;
    margin: auto;
    box-shadow: 0px 2px 4px  rgba(131, 122, 122, 0.849);
}
.mobil table tr td a{
    border-radius: 10%;
    padding: 5px;
    cursor: pointer;
}
.mobil table tr td a input:hover{
    border: 1px outset rgb(145, 140, 140);
}
.headerpenju{
    width: 68%;
    line-height: 10px;
}
.tgl{
    
    width: 32%;
}
.fm_tgl, #fm_thn, #fm_bln{
    height: 26px;
    box-shadow: 0px 2px 3px  rgba(122, 124, 131, 0.849);
    background-color: rgb(97, 173, 187);
    border-color: rgb(98, 160, 175) ;
}
.tombol{
    height: 24px;
    background-color: rgb(142, 230, 55);
    border-color:  rgb(130, 209, 52);
    transition: .7s;
}
.tombol:hover{
    opacity: .8;
    box-shadow: -5px 0px 3px  rgba(131, 122, 122, 0.849);
    margin-left: 5px;
}
.table{
    height: 47px;
}

.inputt{
    width: 100%;
    height: 10%;
    text-align: right;
}

.inputt a button{
    width: 90px;
    height: 35px;
    background-color: rgb(102, 228, 53);
    margin-right: 20px;
    margin-top: 2px;
    font-weight: bold;
    border-radius: 5px;
    border-color: rgb(102, 228, 53);
    font-size: 15px;
    transition: .5s;

}
.inputt a button:hover{
    margin-top: -2px ;
    box-shadow: 0px 10px 3px -5px  rgba(131, 122, 122, 0.849);
    color:rgba(131, 122, 122, 0.849);
}

.button{
    width: 90px;
    height: 90px;
    background-color: rgb(102, 228, 53);
    margin-left: 20px;
    margin-top: 3px;
    font-weight: bold;
    border-radius: 5px;
    border-color: rgb(102, 228, 53);
    font-size: 15px;
    transition: .5s;

}
.button:hover{
    margin-top: -2px ;
    box-shadow: 0px 10px 3px -5px  rgba(131, 122, 122, 0.849);
    color:rgba(131, 122, 122, 0.849);
}
.inputan{
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0, .8);
    z-index: 9999;
    overflow: hidden;
    height: 0;
    width: 0;
}
.inputan:target{
    bottom: 0;
    right: 0;
    width: auto;
    height: auto;
    
}
.form{
  width: 500px;
  height: auto;
  margin: auto;
  position: relative;
  top: 50px;
}
#form{
    width: 500px;
    height: auto;
    margin: auto;
    position: relative; 
    margin-top: 3px; 
  }
.forminput{
    width: 40%;
    height: 70%;
    background-color: rgba(74, 235, 154, 0.808);
    border: 2px solid rgba(42, 138, 90, 0.808);
    border-radius: 9px;
    position: relative;
    top: 70px;
    margin: auto;
}
.inputan:target .forminput{
    animation: zoom 1s;
}
#forminput{
    width: 40%;
    height: 85%;
    background-color: rgba(124, 237, 245, 0.808);
    border: 2px solid rgb(105, 128, 192);
    border-radius: 9px;
    position: relative;
    top: 55px;
    margin: auto;
}
.inputan:target #forminput{
    animation: zoom 1s;
}

.close{
    position: absolute;
    top: 40px;
    left: 47%;
    background-color: rgba(248, 31, 85, 0.822);
    padding: 5px;
    border-radius: 5px;
    opacity: 0;
    box-shadow: 2px 2px 7px  rgba(0, 0, 0,.8);
    color: blanchedalmond;
}
a{
    text-decoration: none;
}
.inputan:target .close{
    animation: close .5s .5s forwards;
}
@keyframes close{
    0%{
        opacity: 0;
        margin-top: -20px;
    }
    100%{
        opacity: 1;
        margin-top: 0;
    }

}

@keyframes zoom{
    0%{
        transform: scale(0);
        opacity: 0;
    }
    100%{
        transform: scale(1);
        opacity: 1;
    }
}

.Input{
    width: 200px;
    height: 28px;
    border-radius: 5px;
    cursor: pointer;
    background-color: rgba(124, 237, 245, 0.808);
    border: 2px solid rgb(105, 128, 192);
    text-align: center;
    color: rgb(36, 42, 138);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.Input:hover{
    box-shadow: 0px 5px 10px #669999;
	transition-duration: 1s; 
}
#form .tengah{
    margin: auto;
    font-weight: bold;
    color: rgb(36, 42, 138);
}
.form .tengah{
    margin: auto;
    font-weight: bold;
    color: rgba(226, 241, 234, 0.808);
    text-shadow: 1px 2px 4px rgba(99, 104, 101, 0.808);
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;    
}


